.cardeditPage{
  .cardeditForm{
    max-width: 500px;
    margin: 70px auto 0;
    &_title, &_memo {
      margin-bottom: 30px;
    }
    &_select {
      margin-top: 40px;
      text-align: center;
      & > a {
        display: block;
        &.edit_btn {
          max-width: 200px;
          margin: 0 auto;
          background: #026aa7;
          padding: 7px;
          border-radius: 10px;
          color: #fff;
          transition: opacity .5s;
          text-decoration: none;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}